absl-py==1.4.0
accelerate==0.31.0
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.6.0
anthropic==0.30.1
anyio==4.3.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
auto_gptq==0.7.1+cu118
Babel==2.15.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.1.3
beautifulsoup4==4.12.3
bitsandbytes==0.37.2
bleach==6.1.0
Brotli==1.1.0
bs4==0.0.1
build==1.2.1
cachetools==5.3.0
certifi==2022.12.7
cffi==1.16.0
charset-normalizer==3.1.0
chroma-hnswlib==0.7.3
chromadb==0.5.3
click==8.1.3
cmdstanpy==1.1.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.3
comtypes==1.4.8
contourpy==1.0.7
convertdate==2.4.0
cycler==0.11.0
Cython==0.29.36
dacite==1.8.1
dataclasses-json==0.6.4
datasets==2.10.1
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.6
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.3.8
distro==1.9.0
dnspython==2.6.1
docstring_parser==0.16
dukpy==0.3.0
einops==0.8.0
email_validator==2.2.0
ephem==4.1.4
exceptiongroup==1.2.1
executing==1.2.0
fastapi==0.115.6
fastapi-cli==0.0.4
fastjsonschema==2.17.1
ffmpeg-python==0.2.0
ffmpy==0.3.2
filelock==3.15.4
fire==0.5.0
Flask==2.2.3
Flask-Cors==3.0.10
flatbuffers==23.3.3
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.3.1
future==1.0.0
gast==0.4.0
gekko==1.1.1
gigachain-core==0.1.48
gigagraph==0.0.34
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.63.2
GoogleAudio==0.0.3
gpt4all==2.6.0
gradio==5.9.1
gradio_client==1.5.2
graphviz==0.20.3
greenlet==3.0.3
grpcio==1.64.1
gTTS==2.5.1
h11==0.14.0
h5py==3.8.0
holidays==0.28
htmlmin==0.1.12
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.27.0
humanfriendly==10.0
idna==3.4
ImageHash==4.3.1
importlib-resources==5.12.0
importlib_metadata==7.1.0
inflate64==1.0.0
intel-openmp==2021.4.0
ipykernel==6.22.0
ipython==8.12.0
ipywidgets==8.1.2
isoduration==20.11.0
itsdangerous==2.1.2
jax==0.4.8
jedi==0.18.2
Jinja2==3.1.2
jiter==0.5.0
joblib==1.2.0
json5==0.9.25
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.2.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
jupyterlab_widgets==3.0.10
keras==2.12.0
keyboard==0.13.5
kiwisolver==1.4.4
kubernetes==30.1.0
langchain==0.3.0
langchain-anthropic==0.2.1
langchain-community==0.3.0
langchain-core==0.3.5
langchain-openai==0.1.7
langchain-text-splitters==0.3.0
langgraph==0.2.24
langgraph-checkpoint==1.0.10
langsmith==0.1.125
libclang==16.0.0
linkify-it-py==2.0.3
llama-index==0.10.32
llama-index-agent-openai==0.2.3
llama-index-cli==0.1.12
llama-index-core==0.10.42
llama-index-embeddings-langchain==0.1.2
llama-index-embeddings-openai==0.1.9
llama-index-indices-managed-llama-cloud==0.1.6
llama-index-legacy==0.9.48
llama-index-llms-huggingface==0.2.3
llama-index-llms-ollama==0.2.2
llama-index-llms-openai==0.1.16
llama-index-multi-modal-llms-openai==0.1.5
llama-index-program-openai==0.1.6
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.19
llama-index-readers-llama-parse==0.1.4
llama-parse==0.4.2
llama_cpp_python==0.2.75
llamaindex-py-client==0.1.19
llvmlite==0.42.0
localpip==1.0.7
LunarCalendar==0.0.9
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.21.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
micrograd==0.1.0
mistune==3.0.2
mkl==2021.4.0
ml-dtypes==0.1.0
mmh3==4.1.0
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.5
multimethod==1.11.2
multiprocess==0.70.14
multivolumefile==0.2.3
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.9.0
nest-asyncio==1.6.0
networkx==3.3
nltk==3.8.1
notebook==7.2.0
notebook_shim==0.2.4
numba==0.59.1
numpy==1.23.5
oauthlib==3.2.2
ollama==0.2.0
onnxruntime==1.18.0
openai==1.30.1
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-asgi==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
opt-einsum==3.3.0
optimum==1.19.2
orjson==3.10.1
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.3
patsy==0.5.3
peft @ git+https://github.com/huggingface/peft.git@d716adf31cc16d93c402b88e0c4e3892841741cb
phik==0.12.4
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==4.2.2
plotly==5.15.0
pmdarima==2.0.3
posthog==3.5.0
prometheus_client==0.20.0
prompt-toolkit==3.0.38
prophet==1.1.4
protobuf==3.20.3
psutil==5.9.4
pure-eval==0.2.2
pvrecorder==1.2.2
py7zr==0.21.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.14
pybcj==1.0.2
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
pydub==0.25.1
Pygments==2.15.0
PyMeeus==0.5.12
PyPAC==0.16.4
pyparsing==3.0.9
pypdf==4.2.0
PyPika==0.48.9
pypiwin32==223
pyppmd==1.1.0
pyproject_hooks==1.1.0
pyreadline3==3.4.1
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.20
pyttsx3==2.98
pytz==2023.3
PyWavelets==1.6.0
pywin32==306
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==25.0.2
pyzstd==0.16.0
qtconsole==5.5.2
QtPy==2.4.1
referencing==0.35.1
regex==2023.3.23
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rouge==1.0.1
rpds-py==0.18.1
rsa==4.9
ruff==0.8.4
safehttpx==0.1.6
safetensors==0.4.3
scikit-learn==1.2.2
scipy==1.11.0
seaborn==0.12.2
selenium==4.21.0
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==2.7.0
sentencepiece==0.1.97
setuptools-git==1.2
shellingham==1.5.4
shtab==1.7.1
simpleaudio==1.0.4
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.4.7
soupsieve==2.4.1
SpeechRecognition==3.10.4
SQLAlchemy==2.0.29
stack-data==0.6.2
starlette==0.41.3
statsmodels==0.14.0
striprtf==0.0.26
sympy==1.12
tavily-python==0.5.0
tbb==2021.12.0
tenacity==8.4.2
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
terminado==0.18.1
text-generation==0.7.0
texttable==1.7.0
threadpoolctl==3.1.0
tiktoken==0.7.0
tinycss2==1.3.0
tldextract==3.4.4
tokenizers==0.19.1
tomli==2.0.1
tomlkit==0.13.2
toolz==0.12.1
torch==2.0.0
tornado==6.2
tqdm==4.66.2
traitlets==5.9.0
transformers @ git+https://github.com/huggingface/transformers.git@74b92c62560b7ade42d35a49f9063adc8b805c4a
trio==0.25.1
trio-websocket==0.11.1
trl==0.8.6
typeguard==4.3.0
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.11.0
tyro==0.8.4
tzdata==2023.3
uc-micro-py==1.0.3
ujson==5.10.0
uri-template==1.3.0
urllib3==1.26.15
utils==1.0.2
uuid6==2024.1.12
uvicorn==0.30.1
virtualenv==20.26.3
visions==0.7.6
watchfiles==0.22.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==2.2.3
widgetsnbextension==4.0.10
wordcloud==1.9.3
wrapt==1.14.1
wsproto==1.2.0
xgboost==1.7.6
xxhash==3.4.1
yarl==1.9.4
ydata-profiling==4.8.3
zipp==3.19.2
